.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    color: #7e00af;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    line-height: 1.4; /* Adjust line height for better spacing */
    white-space: nowrap; /* Ensure text doesn't wrap */
    overflow: hidden; /* Hide the overflow */
}

.cursor {
    display: inline-block;
    background-color: #7e00af;
    width: 2px;
    height: 1em;
    animation: blink-cursor 0.8s steps(2) infinite;
    vertical-align: bottom;
}

@keyframes blink-cursor {
    0%, 100% {
        background-color: transparent; /* Hidden cursor */
    }
    50% {
        background-color: #7e00af; /* Visible cursor */
    }
}
